body{
	margin: 0;
	padding: 0;
}
.rel{
	position:relative;
	width:1260px;
	height:930px;
	background-color: rgb(228, 196, 255);
}

#span {
	text-decoration:underline;
	color:blue;
	cursor:pointer;
}
#p span{
	font-size:20px;
	padding:5px 40px 5px 40px;
	background-color: black;
	color:white;
	position:absolute;
	bottom:665px;
	left:2px;
	font-weight: bold;
	transition: 0.6s ease;

}
#p span:hover {
	background-color: white;
	color: black;
}
#block{
	padding:16px 327px 17px 327px;
	background-color: black;
	color:white;
	position:absolute;
	bottom:665px;
	left:603px;
}
#p1 span{
	font-size:20px;
	padding:5px 40px 5px 40px;
	background-color: black;
	color:white;
	position:absolute;
	bottom:665px;
	left:134px;
	font-weight: bold;
	transition: 0.6s ease;

}
#p1 span:hover {
	background-color: white;
	color: black;
}

#p2 span{
	font-size:20px;
	padding:5px 40px 5px 40px;
	background-color: black;
	color:white;
	position:absolute;
	bottom:665px;
	left:373px;
	font-weight: bold;
	transition: 0.6s ease;

}
#p2 span:hover {
	background-color: white;
	color: black;
}
/*#Page1{
	width:99%;
	height:70%;
	background-color:green;
	position:absolute;
	top:267px;
	left:6px;
}*/
#Home{

	position:absolute;

	top:267px;
	left:1px;
}
#neha{
	position:absolute;

	top:450px;
	left:90px;
}
#arman{
	position:absolute;

	top:430px;
	left:-90px;
}
#arjit{
	position:absolute;

	top:450px;
	left:360px;
}
#Home h1{
	font-size:38px;
	font-weight:bold;
	font-style: italic;
	background-color:ivory;
	color:rgb(255, 51, 0);
	padding:2px 3px 2px 3px;
	position:absolute;
	top:65px;
	left:20px;
}
#Home h2{
	font-size:23px;
	color:white;
	/*background-color:ivory;*/
	color:rgb(255, 0, 64);
	position:absolute;
	top:175px;
	left:880px;
}
#Home h3{
	font-size:27px;
	color:white;
	/*background-color:ivory;*/
	color:rgb(255, 0, 13);
	position:absolute;
	top:200px;
	left:707px;
}
#Home h4{
	font-size:27px;
	color:white;
	/*background-color:ivory;*/
	color:rgb(255, 0, 64);
	position:absolute;
	top:250px;
	left:770px;
}
#Home h5{
	font-weight:bold;
	font-size:21px;
	color:rgb(255, 0, 64);
	position:absolute;
	top:350px;
	left:855px;
}
#Home h6{
	font-size:33px;
	color:tan;
	position:absolute;
	top:365px;
	left:805px;
}
#Home h7{
	font-size:25px;
	color:tan;
	position:absolute;
	top:410px;
	left:25px;
}
#Home h8{
	font-size:25px;
	color:tan;
	position:absolute;
	top:410px;
	left:220px;
}
#Home h9{
	font-size:25px;
	color:tan;
	position:absolute;
	top:410px;
	left:430px;
}
#Page2{
	display:none;
	width:99%;
	height:70%;
	background-color:silver;
	position:absolute;
	top:267px;
	left:1px;
}

#Registration h1{
	font-size:33px;
	color:rgb(255, 51, 0);
	position:absolute;
	top:-11px;
	left:505px; 
}
#name{
	margin-top:50px;
	margin-left:45px;
	font-size:15px;
	background-color:ivory;
	box-sizing: border-box;
	padding: 5px 10px;
}

#gender{
	margin-top:19px;
	margin-left:35px;
}
#email{
	margin-top:13px;
	margin-left:25px;
	font-size:15px;
	background-color:ivory;
	box-sizing: border-box;
	padding: 5px 10px;
}
#email{
	margin-top:13px;
	margin-left:25px;
	font-size:15px;
	background-color:ivory;
	box-sizing: border-box;
	padding: 5px 10px;
}
#age{
	margin-top:13px;
	margin-left:60px;
	font-size:15px;
	background-color:ivory;
	box-sizing: border-box;
	padding: 5px 10px;
}	
#mobile{
	margin-top:13px;
	margin-left:6px;
	font-size:15px;
	background-color:ivory;
	box-sizing: border-box;
	padding: 5px 10px;
}
#state{
	margin-top:13px;
	margin-left:53px;
	font-size:15px;
	background-color:ivory;
	box-sizing: border-box;
	padding: 5px 10px;
}
#comment{
	margin-top:13px;
	margin-left:15px;
	font-size:15px;
	background-color:ivory;
	box-sizing: border-box;
	padding: 5px 10px;
}
#term{
	margin-top:18px;
	margin-left:0px;

}
#register{
	background-color:rgb(0, 60, 255);
	color:white;
	font-size:18px;
	margin-top:-1px;
	margin-left:227px;
	padding: 2px 15px 2px 15px;
}
	

.input{
	font-size:20px;
	/*font-weight:bold;*/
}
#form1{
	background-color:rgb(251, 255, 196);
	border:1px solid black;
	padding:0px 20px 5px 20px;
	position:absolute;
	top:54px;
	left:460px;
  	
}
#nam1 {
	color:red;
	margin-left:105px;
}	
#gen1 {
	color:red;
	margin-left:105px;
}
#mail {
	color:red;
	margin-left:105px;
}
#mob {
	color:red;
	margin-left:105px;
}
#ag {
	color:red;
	margin-left:105px;
}	
#stat {
	color:red;
	margin-left:105px;
}
#ter {
	color:red;
	margin-left:3px;
}

#Page3{
	display:none;
	width:99%;
	height:70%;
	background-color:silver;
	position:absolute;
	top:267px;
	left:1px;
}
#Registrants h1{
	font-size:33px;
	color:rgb(255, 51, 0);
	position:absolute;
	top:0px;
	left:530px; 
}
#display{
	
	border: 1px solid black;
	width: 50%;
	margin:50px auto;
	position:absolute;
	top:20px;
	left:295px;
	
}	
#display td, #display th{
	border: 1px solid white;
	padding:8px;
}
#display tr:nth-child(even){
	background-color: ivory;
}
#display tr:nth-child(odd){
	background-color: ivory;
}
#display tr:hover{
	background-color: #ddd;
}
#display th{
	background-color: maroon;
	color:white;
	text-align:center;
}



#title h1{
	/*border: 1px solid white;*/
	font-size: 100px;
	/*padding:30px 180px 30px 180px;*/
	/*background-color: bisque;*/
	/*width:400px;*/
	font-style: italic;
	color:white;
	position:absolute;
	left:450px;
	top:0px;

	
}
#title h2{
	font-size: 40px;
	font-style: italic;
	color:white;
	position:absolute;
	left:430px;
	top:10px;
}

#logo{
	position:absolute;
	left:352px;
	
}
#logo1{
	position:absolute;
	
}
/*#footer p a{
	text-decoration:none;
	font-size:16px;
	position:absolute;
	bottom:0px;
	left:1px;
	color:white;
	border: 1px solid black;
	background-color: black;
	padding:7px 522px 7px 522px;
}*/
#footer p a{
	font-size:16px;
	text-decoration:none;
	position:absolute;
	bottom:0px;
	left:65px;
	color:white;
	border: 1px solid black;
	background-color: black;
	padding:7px 450px 7px 470px;
}